@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --telegram-stable-height: var(--tg-viewport-stable-height);
        --telegram-viewport-height: var(--tg-viewport-height);
        --telegram-bg-color: var(--tg-theme-bg-color);
        --telegram-secondary-bg-color: var(--tg-theme-secondary-bg-color);
        --telegram-accent-text-color:  var(--tg-theme-accent-text-color);
        --telegram-destructive-text-color:  var(--tg-theme-destructive-text-color);
        --telegram-header-bg-color:  var(--tg-theme-header-bg-color);
        --telegram-section-bg-color:  var(--tg-theme-section-bg-color);
        --telegram-section-header-text-color:  var(--tg-theme-section-header-text-color);
        --telegram-subtitle-text-color:  var(--tg-theme-subtitle-text-color);
        --telegram-text-color: var(--tg-theme-text-color);
        --telegram-hint-color: var(--tg-theme-hint-color);
        --telegram-link-color: var(--tg-theme-link-color);
        --telegram-button-color: var(--tg-theme-button-color);
        --telegram-button-text-color: var(--tg-theme-button-text-color);
    }

    html {
        @apply font-sans;
    }
}