@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --telegram-bg-color: var(--tg-theme-bg-color, #17212b);
        --telegram-secondary-bg-color: var(--tg-theme-secondary-bg-color, #ffffff);
        --telegram-accent-text-color:  var(--tg-theme-accent-text-color, #6ab2f2);
        --telegram-destructive-text-color:  var(--tg-theme-destructive-text-color, #ec3942);
        --telegram-header-bg-color:  var(--tg-theme-header-bg-color, #17212b);
        --telegram-section-bg-color:  var(--tg-theme-section-bg-color, #17212b);
        --telegram-section-header-text-color:  var(--tg-theme-section-header-text-color, #6ab3f3);
        --telegram-subtitle-text-color:  var(--tg-theme-subtitle-text-color, #708499);
        --telegram-text-color: var(--tg-theme-text-color, #000000);
        --telegram-hint-color: var(--tg-theme-hint-color, #707579);
        --telegram-link-color: var(--tg-theme-link-color, #3390ec);
        --telegram-button-color: var(--tg-theme-button-color, #3390ec);
        --telegram-button-text-color: var(--tg-theme-button-text-color, #ffffff);
    }

    html {
        @apply font-sans;
    }
}